[submodule "Unica/Libraries/fmt"]
	path = Unica/Libraries/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "Unica/Libraries/glfw"]
	path = Unica/Libraries/glfw
	url = git@github.com:glfw/glfw.git
[submodule "Unica/Libraries/glm"]
	path = Unica/Libraries/glm
	url = git@github.com:g-truc/glm.git
