[submodule "Libraries/fmt"]
	path = Libraries/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "Libraries/glm"]
	path = Libraries/glm
	url = git@github.com:g-truc/glm.git
[submodule "Tools/tracy"]
	path = Tools/tracy
	url = https://github.com/wolfpld/tracy
[submodule "Libraries/sdl"]
	path = Libraries/sdl
	url = git@github.com:libsdl-org/SDL.git
[submodule "Libraries/spdlog"]
	path = Libraries/spdlog
	url = https://github.com/gabime/spdlog
